{{- if and .Values.mongoDB (not .Values.mongoDB.external) }}
{{- if .Values.mongoDB.replicaSet }}
apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: mongo
spec:
  clusterIP: None  
  selector:
    app: mongo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
data:
  mongod.conf: |
    net:
      bindIp: 0.0.0.0
      port: 27017
    replication:
      replSetName: rs0
    storage:
      dbPath: /data/db
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  labels:
    app: mongo
spec:
  serviceName: mongo  
  replicas: 3
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongo
        image: mongo:8
        ports:
        - containerPort: 27017
          name: mongo
        volumeMounts:
        - name: mongo-data
          mountPath: /data/db
        - name: mongo-config
          mountPath: /etc/mongo
        command:
          - "mongod"
          - "--config"
          - "/etc/mongo/mongod.conf"
        livenessProbe:
          exec:
            command:
              - mongosh
              - --eval
              - "db.adminCommand('ping')"
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          exec:
            command:
              - mongosh
              - --eval
              - "db.adminCommand('ping')"
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
      volumes:
      - name: mongo-config
        configMap:
          name: mongo-config 
  volumeClaimTemplates:
  - metadata:
      name: mongo-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
      {{- if .Values.mongoDB.storageClassName }}
      storageClassName: {{ .Values.mongoDB.storageClassName }}
      {{- end }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mongo-init
spec:
  template:
    spec:
      containers:
      - name: mongo-init
        image: mongo:8
        command:
        - bash
        - "-c"
        - |
          for host in mongo-0.mongo mongo-1.mongo mongo-2.mongo; do
            until mongosh --host $host --quiet --eval "db.runCommand({ping:1}).ok" | grep -q 1; do
              sleep 5
            done
            echo "$host ready!"
          done
          sleep 10
          mongosh --host mongo-0.mongo --quiet --eval '
              rs.initiate({
                _id: "rs0",
                members: [
                  { _id: 0, host: "mongo-0.mongo:27017"},
                  { _id: 1, host: "mongo-1.mongo:27017"},
                  { _id: 2, host: "mongo-2.mongo:27017"}
                ]
              });
          '
      restartPolicy: OnFailure

{{- else }}
kind: Service
apiVersion: v1
metadata:
  name: mongo
spec:
  selector:
    app: mongo
  ports:
  - protocol: TCP
    port: 27017
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
spec:
  selector:
    matchLabels:
      app: mongo
  replicas: 1
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongodb
        imagePullPolicy: Always
        image: mongo:8.0
        ports:
        - containerPort: 27017
        volumeMounts:
          - name: mongo-data
            mountPath: /data/db
        resources:
          limits:
            cpu: "2"
          requests:
            cpu: 500m
      {{- if and .Values.MongoDBNodeSelector.key .Values.MongoDBNodeSelector.values }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: {{ .Values.MongoDBNodeSelector.key }}
                operator: In
                values:
                - {{ .Values.MongoDBNodeSelector.values }}
      {{- end }}
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-data
{{- end }}
{{- end }}